.clients {
    display: flex;
    justify-content: center;


}

.clients__img img {
    display: block;
}

.clients__text {
    padding: 115px 365px 0 90px;
    background-color: #53354a;

}

.clients__text h2 {
    font-family: 'Cardo', serif;
    font-size: 35px;
    font-weight: 100;
}

.clients__text p {
    text-transform: uppercase;
    padding-top: 30px;

}