.footer {
    background-color: #3a3e64;

}

.footer__block {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 80px;
    text-align: center;
    gap: 75px;
}

.footer__block-left {
    width: 33.333%;
}

.footer__block-center {
    width: 33.333%;
}

.footer__block-right {
    width: 33.333%;
}

.footer__title {
    text-transform: uppercase;
    font-size: 14px;
}

.footer__imgs {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;

}

.footer__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    padding: 10px;
}

.footer__copyright {

    background-color: #313454;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #808080;
}

.footer__copyright p {
    width: 350px;
}

.footer__copyright span {
    color: white;
}